.custom-slect {
    padding: 0 44px 0 20px;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-align: left;
    margin: 20px 0px;
    width: 100%;
    background: #e8f0fe;
}
.custom-slect input {
    position: relative;
    color: #000;
    border: none;
    background: none;
    width: 100%;
}
.custom-slect input:focus-visible{
  outline:none;
  box-shadow:none;
}
.custom-slect ul.custom-slect-list {
    width: 100%;
    z-index: 999;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-slect.open .custom-slect-list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}
 .custom-slect .custom-slect-list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    pointer-events: none;
}
 .custom-slect .custom-slect-list .custom-slect-option {
    cursor: pointer;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    font-size: 14px;
    color: #000;
}
.custom-slect-option:hover,  .custom-slect-option.focus, .custom-slect-option.selected.focus {
    background-color: #f6f6f6;
}
 .custom-slect .custom-slect-list .custom-slect-option.selected {
    font-weight: bold;
    background-color: #f6f6f6;
    color: #000;
}
 .custom-slect:after {
    width: 5px;
    height: 5px;
    color: #4d555f;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    right: 24px;
    transition: all 0.15s ease-in-out;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
}
 .custom-slect.open:after {
    transform: rotate(-135deg);
}
.custom-slect-list::-webkit-scrollbar {
    width: 4px;
  }
  .custom-slect-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  .custom-slect-list::-webkit-scrollbar-thumb {
    background: #999; 
  }


/* lable */
.size-options input[type=radio]+label {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground),var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: .7rem .5rem .2rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
}
.size-options input[type=radio]:checked+label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
}
.size-options input[type=radio] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
.sold-out-msg {
    display: none;
    background: #000;
    color: #fff;
    padding: 0px 15px;
    border-radius: 50px;
    width: fit-content;
}
/* slider */
.custom-slider-container {
  position: relative;
   width: 20%;
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
}

.custom-slider-product {
    display: flex;
    transition: transform 1s ease;
    margin: 0;
    flex-direction: column;
    padding: 0;
}

.product-custom-slide {
    text-align: center;
    padding: 10px 0;
}
.custom-thumnail {
    display: flex;
    flex-direction: row-reverse;
}
.custom-arrow {
    position: absolute;
    background-color: #00000080;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    transform: translateY(-100%);
}
.left {
  left: 0%;
  top: 50%;
}

 .right {
   left: 0%;
    top: 60%;
}
.product-custom-slide img {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    width: 65px;
}
.product__media-wrapper img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main-product-image {
    width: 80%;
  height: 400px;
}
/*  msg */
.msg-added-cart {
    color: green;
    display: none;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }